---
---

import "{{ site.theme }}";

section#downloads + * img,
h1 img {
  width: 400px !important;
  height: auto;
}


.indented {
  padding-left: 2em;
  margin-left: 0 !important;
}

.indented p {
  margin-left: 0 !important;
  padding-left: 0 !important;
}


@import "{{ site.theme }}";
